@charset "UTF-8";
.App {
  text-align: center;
  font-family: Calibri;
}

.name-div {
  font-family: Calibri-light;
}

@font-face {
  font-family: Calibri;
  
  src: url("./assets/Calibri.ttf") format("truetype");
}

@font-face {
  font-family: Calibri-light;
  
  src: url("./assets/Calibri-light.ttf") format("truetype");
}

@font-face {
  font-family: Calibri-bold;
  src: url("./assets/calibri-bold.ttf") format("truetype");
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #c7c3c3;
}
*::-webkit-scrollbar-thumb {
  background-color: #4eab6d;
  border-radius: 25px;
}

.green {
  color: #4eab6d;
}

.dark {
  background-color: #121212;
  color: white;
  transition-timing-function: ease-in;
  transition: 0.25s;
}

.light{
  background-color: #fff;
  color: #231f20;
  transition-timing-function: ease-in;
  transition: 0.25s;
}

.light .toggleMode {
  background-color: #e9e9ea;
}

.dark .toggleMode {
  background-color: #39393d;
}

.fa-sun, .fa-moon {
  position:relative;
  top: 8px;
}

.switch-div {
  height:22px;
  width: 12px;
  margin-left: 5px;
  margin-top: -3px;
}

.logo {
  width: 100px;
}

.sidebar {
  position: fixed;
  bottom:0px;
  z-index: 1;
}

.email {
  font-size: 20px;
  margin-bottom: 115px;
  margin-left: -40px;
  transform: rotate(-90deg);
}

.vl {
  position:relative;
  border-right: 1px solid;
  height: 75px;
  left:-104px;
}

.mode-switch:hover, .link-icon:hover {
  color: #4eab6d;
}

.socials {
  position: relative;
  margin-bottom: 90px;
}

.sidebar .fa-github, .sidebar .fa-linkedin-in{
  position:relative;
  left: -17px;
  margin-bottom: 20px;
  font-size: 20px;
}

.link-icon {
  color: inherit;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;} 
} 

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 100;
  animation: fadeOut .3s ease-in-out;
  animation-delay: 2s;
  margin: auto;
  display: flex;
}

.logoani {
  margin: auto;
  width: 20%;
}

.content-wrapper {
  z-index: 1;
  position: relative
}

.segment-wrapper {
  height: 100vh;
  width: inherit;
}

.intro-div, .aboutme-div {
  margin: auto;
  overflow:hidden;
  overflow-wrap: break-word;
  display: inline-block;
}

.sub-text {
  /* color: #545454; */
  opacity: 0.7;
}

.intro-text, .aboutme-div{
  text-align:left;
}

.intro-text .mode-switch {
  width: 25px;
  position:relative;
  font-size:medium;
  top: 0px;
  padding-left: 7px;
}

.intro-text .fa-moon {
  left: 2px;
}

.section-header {
  margin-bottom: 20px;
}

.nav-bar {
  position: fixed;
  width: 100vw;
  z-index: 11;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  transition-timing-function: ease-in;
  transition: 0.25s;
}

.nav-bar--hidden, .transparent--hidden{
  transform: translateY(-160px);
}

.light .topbar .nav-link{
  color:#121212;
}

.dark .topbar .nav-link{
  color:white;
}

.topbar .nav-link:hover {
  color: #4eab6d;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

.topbar .transparent {
  width: 100vw;
  height: 150px;
  position: fixed;
  top:0px;
  left:0px;
  transition-timing-function: ease-in;
  transition: 0.25s;
}
.z-10 {
  position: relative;
  z-index: 10;
}
.light .topbar .transparent {
  background-color:#ffffff;
}

.nav-bar-backdrop-white {
  filter:drop-shadow(0px 5px 5px #9e959566);
}

.nav-bar-backdrop-black {
  filter:drop-shadow(0px 5px 5px black);
}

.dark .topbar .transparent {
  background-color:#121212;
}

.dark .small-nav {
  background-color: #121212;
}

.light .small-nav {
  background-color: #fff;
}

.nav-bar .mode-switch {
  padding-top: 3px;
}

.small-nav{
  position:fixed;
  height: 100vh;
  width: 40%;
  z-index: 13;
  right: -300px;
  display:flex;
  text-align:end;
  transition-timing-function: ease-in;
  transition: 0.25s;
}


.small-nav-transparent {
  position:fixed;
  width: 100vw;
  height:100vh;
  right:-100vw;
  backdrop-filter:blur(3px);
  z-index: 12;
}

.light .small-nav-transparent, .dark .small-nav-transparent {
  background-color:#9e959566;
}

.small-nav ul, .experiences-div .select li, .work-wrapper .select li, .projects-div .select li {
  list-style-type: none;
}

.small-nav .small-nav-wrapper {
  margin-top:74px;
  margin-right: 36px;
}

.small-nav-wrapper li {
  padding-top: 1em;
  padding-bottom: 1em;
}

.small-nav--show {
  transform: translateX(-300px);
}

.small-nav-transparent--show {
  transform: translateX(-100vw);
}

.background-wrapper {
  height: 100vh;
  width: 100vw;
  position:fixed;
  top:0;
  left:0;
}

#blob {
  background-color: white;
  height: 50vh;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: radial-gradient( circle, #90fa3e, #21996c);
  z-index: 0;
  opacity: 0.25;
}

#blur {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  backdrop-filter: blur(10vh);
  z-index:0;
}

.profile-div {
  position: relative;
  overflow: visible;
  height: 350px;
  width: 263px;
  margin-left: auto;
  margin-right: auto;
}

.profile-img {
  position: relative;
  height: 350px;
  width: 263px;
  margin-bottom: 50px;
  z-index: 1;
}

.profile-highlight {
  position:absolute;
  height: 350px;
  width: 263px;
  top: 10px;
  left: 10px;
  border:2px solid #4eab6d;
  z-index: 0;
}

.aboutme-div, .experiences-wrapper {
  overflow: visible;
  padding-bottom: 100px;
  border-bottom: 0.5px solid;
}

.experiences-wrapper, .work-wrapper, .projects-wrapper {
  padding-top: 100px;
}

.experiences-div .select li:hover {
  color: #4eab6d;
}

.description .spacer {
  border-right: 2px solid;
  margin-left: 5px;
  margin-right: 5px;
}

.experiences-div .description {
  text-align: left;
}

.description .company-name, .projects-div .project-name {
  font-family: calibri-bold;
}

.experiences-div .description li {
  margin-left : -20px;
  padding-left: 5px;
}

.experiences-div {
  border-left: 1px solid #9e959566;
  text-align: left;
  padding-left: 20%;
}

.projects-wrapper .list-item {
  border-bottom: 3px solid #9e959566;
}

.projects-wrapper .list-item-active {
  color: #4eab6d;
  border-bottom: 3px solid ;
}

.projects-wrapper .list-item, .list-item-active {
  text-align: right;
  padding: 0px 10px 0px 10px;
}

.projects-wrapper .select {
  margin-right: 0px;
  margin-left: auto;
}

.project-img {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  filter: grayscale(1);
  transition: 0.25s ease-in-out;
}

.project-preview-div:hover .project-img {
  filter: grayscale(0);
  transition: 0.25s ease-in-out;
}

.projects-div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-img-fullscreen-div {
  width: 80vw;
  position: fixed;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display:none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-img-fullscreen {
  height: 75%;
  width: auto;
  text-align: center;
}

.project-img-fullscreen-div--show {
  display: flex;
  align-items: center;
}

.project-transparent {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition-timing-function: ease-in;
  transition: 0.25s;
}

.project-transparent--show {
  backdrop-filter:blur(3px);
  z-index: 19;
  transition-timing-function: ease-in;
  transition: 0.25s;
}

.carousel-button-left, .carousel-button-right {
  position: absolute;
  height: 200px;
  width: 100px;
  color: #9e9595;
}

.fa-chevron-left, .fa-chevron-right {
  position: relative;
}

.carousel-button-left:hover, .carousel-button-right:hover {
  color: #4eab6d;
}

.project-preview-div {
  padding-bottom: 20px;
}

.contact-div .logo {
  padding-top: 50px;
  width: 15%;
}

.contact-div .text {
  position: relative;
  top: 35px;
}

.contact-div .link-icon {
  padding-right: 10px;
}

.contact-div .contact-info {
  margin-top: 40px;
  margin-bottom: -20px;
}


@media only screen and (max-width: 768px) {
  .content-wrapper {
    padding-left: 10%;
    padding-right: 10%;
  }
  .aboutme-text-div {
    padding-top: 20px;
  }
  .experiences-div .select{
    display: flex;
  }
  .experiences-div .company-list-item {
    border-bottom: 3px solid #9e959566;
  }
  .experiences-div .company-list-item-active {
    color: #4eab6d;
    border-bottom: 3px solid ;
  }
  .experiences-div .company-list-item, .company-list-item-active {
    text-align: right;
    padding: 0px 10px 0px 10px;
  }
  .experiences-div .description {
    margin-top: 20px;
  }
  .carousel-button-left {
    left: -70px;
  }
  .carousel-button-right {
    right: -70px;
  }
  .project-img-fullscreen-div {
    margin-top: 20px;
  }
  .contact-div .line {
    width: 20%;
    border-bottom: 1px solid;
  }
}

@media only screen and (min-width:768px) {
  .content-wrapper {
    padding-left: 15%;
    padding-right: 15%;
  }
  .aboutme-text-div {
    padding-right: 20px;
  }
  .profile-div {
    margin-top: 60px;
  }
  .experiences-div {
    display: flex;
  }
  .experiences-div .company-list-item {
    border-right: 3px solid #9e959566;
  }
  .experiences-div .company-list-item-active {
    color: #4eab6d;
    border-right: 3px solid ;
  }
  .experiences-div .company-list-item, .company-list-item-active{
    text-align: right;
    padding: 2px 20px 2px 0px;
  }
  .experiences-div .description {
    margin-left: 20px;
  }
  .project-desc {
    padding-right: 20px;
  }
  .project-img-fullscreen-div {
    width: 75%;
  }
  .project-img-fullscreen {
    width: 100%;
  }
  .illustrator-image, .wordPoster-image {
    width: auto;
  }
  .carousel-button-left {
    left: -80px;
  }
  .carousel-button-right {
    right: -80px;
  }
  .contact-div .line {
    width: 30%;
    border-bottom: 1px solid;
  }
}

@media only screen and (max-width: 992px) {
  .project-img-fullscreen {
    width: 100%;
  }
  .carousel-button-left {
    left: -70px;
  }
  .carousel-button-right {
    right: -70px;
  }
  .wordPoster {
    width: 50%;
  }
}
@media only screen and (min-width: 1600px) {
  .content-wrapper {
    padding-left: 25%;
    padding-right: 25%;
  }
  .contact-div .line {
    width: 35%;
    border-bottom: 1px solid;
  }
}